<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Unicode Tool</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <nav>
    <h1>
      <a href="/">Unicode Tool !</a>
    </h1>
    <div>
      <a href="/search">Recherche</a>
      <a href="/unicode/{{random}}">Random Unicode</a>
    </div>
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>

</body>
</html>